@import url(https://fonts.googleapis.com/css?family=Exo:100);

.App{
  width: 100%;
  height: 100vh;
  text-align: center;
  text-emphasis: none;
}

h1 {
  display: block;
  font-size: 3.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
}

#InputedPicture {
    max-height: 100%;
    max-width: 90vw;
    height: 60vh;
    margin-top: 10px;
}

#CharactersPassword{
  font-weight: 900;
  font-family: exo;
  width: 25vw;
}

.h3Style{
  /* Top, right, bottom, left */
  margin: 5px auto -15px auto;  
}

#LableFileInput{
  font-weight: bold;
}

.ButtonInput{
  font-family: exo;
  font-weight: bold;
  align-items: center;
}

.picture_frame {
  background-color: rgba(0.5, 0.5, 0.5, 0.2);
}

.output {
  margin-top: 1rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: larger;

}

#image_input{
  font-weight: bold;
}

#Opaque{
  opacity: 0.5;
}

#GeneratedPassword{
  margin-bottom: 20px;
}

#InputFileHeader{
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: calc(30px - 1rem);
}